@model MVCMovieApp.Models.Mini_Series

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mini_Series</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actress10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actress10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
